#header {
    background-color: #2C2B2C;
    padding-top: 30px;

    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .box-middle {
            padding-left: 100px;

            ul {
                align-items: center;
                display: flex;

                li {
                    padding: 20px;
                    font-size: 16px;
                    color: white;
                    font-weight: 600;

                    &:hover {
                        color: #FA4765;
                    }
                }

                i {
                    padding: 20px;
                    color: white;

                }
            }
        }

        .box-right {



            span {
                font-size: 20px;
                border: 2px solid rgb(152, 152, 152);
                margin-right: 40px;
                padding: 13px 25px;
                border-radius: 8mm;
                color: white;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: #FA4765;
                }
            }

        }

    }

}

// header finished\\
// --------------------------\\